:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #444;
    background-color: #f3f3f3;
}

.body {
    padding: 6rem;
    display: grid;
    flex-direction: column;
    gap: 50px;
}

.profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    max-height: 200px;
}


.left {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    align-self: flex-end;
}

.greeting {
    font-size: 1.1rem;
}

.username {
    font-size: 2rem;
    font-weight: 600;
}

.user-balance {
    font-size: 1.5rem;
    font-weight: 300;
    grid-row: 3;
}

.right {
    display: grid;
    gap: 10px;
}

.right-heading {
    font-size: 1.1rem;
    font-weight: 600;
}

.payments {
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
}

.payment {
    display: grid;
    gap: 15px;
}

.payment-card {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.payment-heading {
    font-size: 1.1rem;
    font-weight: 600;
}

.payment-amount {
    font-size: 1.2rem;
    font-weight: 600;
}

.top4 {
    display: grid;
    gap: 10px;
}

.top4-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.top4-item {
    display: grid;
    grid-template-rows: auto auto;
    grid-column: span 1;
    grid-row: span 1;
    padding: 1rem;
    padding-bottom: 0;
    border: solid 1px #ccc;
    border-radius: 10px;
}

.top4-item-balance {
    font-size: 2.5rem;
}